node_modules/
dist/
.next/
.expo/
*.log
.env
.env.local
.DS_Store
ios/
android/
*.tsbuildinfo
.claude
docs
.env.example
apps/api/.env
apps/mobile/.env
apps/web/.env.local
CLAUDE.md
docker-compose.yml
.dockerignore
firebase.config.js
firestore.rules
quickroutesai-firebase-adminsdk-fbsvc-d1eaba24f4.json